<%= turbo_frame_tag message,
  class: 'bg-gray-200 px-3 py-2 flex justify-between rounded intems-center grap-2 shadow' do %>

  <div class="flex gap-1">
    <span class="text-gray-600 text-sm"><%= message.user.email %></span>
    <span class="font-semibold text-sm"><%= message.content %></span>
  </div>

  <% if local_assigns[:from_stream] %>
    <%= turbo_frame_tag message, :actions, src: actions_message_path(message) %>
  <% else %>
    <%= render 'messages/actions', message: message %>
  <% end %>
<% end %>